header, nav {
    margin-top: -10px;
    width: 100%;
    height: 45px;
    background: rgb(0, 0, 0);
    opacity: .9;
    color: white;
}
nav {
    margin-top: -16px;
    background-color: rgb(170, 0, 0);
    text-align: center;
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
}
.topnavbar {
    display: inline;
    font-size: 200%;
    padding: 15px;
    color: white;
}
/* unvisited link */
 a:link {
    text-decoration: none;
}
/* hover */
.toplist li a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* visited */
.topnavbar a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* selected link */
.toplist li a:active {
    text-decoration: none;
    color: rgb(106, 106, 106);
}
body {
    background-image: url(/cssdayfive/img/1k.jpg);
    background-size: 31%;
    background-repeat: no-repeat;
    background-position: bottom;
}
header {
    text-align: center;
    font-size: 275%;
    width: 100%;
    height: 65px;
    background: rgb(0, 0, 0);
    opacity: .9;
    color: white;
}
.container {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-top: 15px;
    width: 100%;
    margin-bottom: -10px;
}
ul {
    list-style: none;
}
.vbtm {
    display: inline;
    list-style: none;
}
.vbtm li a {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    
}
.vbtm li a:hover {
    color: rgb(172, 0, 0);
}
.vbtm li a:active {
    color: rgb(255, 0, 0);
}
.btmlinks {
    font-size: 125%;
    color: rgb(182, 177, 177);
}
.btmlinks a:link, a:hover, a:visited, a:active {
    color: rgb(182, 177, 177);
}
.btmlinks {
    color: rgb(182, 177, 177);
    display: inline-block;
}
.socilinks {
    font-size: 125%;
    color: rgb(182, 177, 177);
}
.socilinks a:link, a:hover, a:visited, a:active {
    color: rgb(182, 177, 177);
}
.socilinks {
    color: rgb(182, 177, 177);
    display: inline-block;
}
.aboutbody {
    margin-top: 25px;
    width: 100%;
    height: 425px;
}
section {
    width: 50%;
    float: left;
}
p {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
aside{
    width: 50%;
    float: right;
}
aside img {
    padding-left: 20px;
    max-width: 400px;  
}
