nav {
    background-color: black;
    width: 100%;
    list-style-type: none;
    color: white;
    margin: 15px auto;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
}
li{
    list-style-type: none;
    display: inline;
    padding: 15px;
}